* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.main_native {
    height: 100vh;
}
.div_card {
    position: relative;
    height: 500px;
    width: 800px;
    border-radius: 5%;
}
.register_title {
    margin: 60px 0 0 0;
}
.register_title h2, .login_box h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
}
.form {
    margin: 10px 40px 0 40px;
}
.container_icon {
    margin: 10px 0;
}
.box_icon {
    height: 50px;
    width: 50px;
    padding: 15px;
    margin: 0px 10px;
    border-radius: 100%;
    outline: 1px solid #666;
}
.box_icon:hover {
    background-color: hsla(0, 1%, 85%, 0.986);
    cursor: pointer;
}
.box_icon img {
    user-select: none;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
.text_icon {
    margin-top: 5px;
    text-align:center;
    font-size: 11px;
}
.input_icon {
    width: 12%;
    height: 35px;
    background-color: hwb(0 90% 9%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: 1px solid hwb(0 90% 9%);
}
.input_icon img {
    user-select: none;
    opacity: .5;
    width: 40%;
    height: 40%;
}
.box_input input{
    border-top-right-radius: 10px;
    font-size: 13px;
    outline: none;
    border-bottom-right-radius: 10px;
    border: 1px solid hwb(0 90% 9%);
    outline: 1px solid hwb(0 90% 9%);
    color: #777;
    padding-left: 5px;
    width: calc(100% - 12%);
    height: 35px;
}
.btn {
    margin-top: 10px;
}
.box_input input:focus {
    color: #777;
    background-color: #eee;
}
.box_input input::placeholder {
    color: #777;
}

/* CAJA-OCULTA LOGIN */
.login_box {
    height: 500px;
}
.login_box h1 {
    font-size: 50px;
}
.login_box p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0px;
}
.login_box .box_button {
    height: 50px;
}

/* FORM LOGIN */
.col_1 {
    display: block;
    background-color: #fff;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
/* BOX REGISTER */
.col_2 {
    display: flex;
    background-color: #27c08d;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}
/* FORM REGISTER */
.col_1-1 {
    display: none;
    background-color: #fff;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 500px;
}
/* BOX LOGIN */
.col_2-1 {
    display: none;
    background-color: #27c08d;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    position: relative;
    left: 100;
    transition: left 2s ease;
}

.col_1-1-change {
    display: block;
    position: absolute;
    right: 0;
}

.col_2-1-change {
    display: flex;
    position: absolute;
    left: 0;
}

/*
FORM REGISTER   : col_1-1
FORM LOGIN      : col_1
BOX REGISTER    : col_2
BOX LOGIN       : col_2-1
*/