*{
    margin: 0;
    padding: 0;
    background-color: purple;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

div{
    width: 600px;
    height: 450px;
    background-color: aquamarine;    
}
/* 
.title{
    justify-content: center;
    align-items: center;
    display: flex;
    outline: 1px solid black;
    height: 20vh;
} */

.tarjeta2{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}