:root{
--color-white:#ffffff;


}



*{
    font-family: 'Open Sans', 'Sans-serif';
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 body{
     height: 100vh;
     background: #1a2a6c;  
     background: -webkit-linear-gradient(to bottom, #fdbb2d, #b21f1f, #1a2a6c); 
     background: linear-gradient(to bottom, #fdbb2d, #b21f1f, #1a2a6c); 
     color: var(--color-white);
 }  

 li{
    list-style: none;
 }
 a{
    color: var(--color-white);
    text-decoration: none;
 }

.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 2;
    display: none;
    color: black;
    }


 .container{
    margin: 16px auto;
    width: 90%;
 }
 .nav-main{
    align-items: center;
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    padding: 20px 0;
    height: 60px;

 }
 .nav-logo{
    width: 50px;
    cursor: pointer;
 }
 .nav-logo:hover{
    transform: translateX(22px) ;
 }
 .nav-main ul{
    display: flex;
 }
 .nav-main ul li{
    padding: 10px;
 }
 .nav-main ul a{
    padding: 2px;
 }
 .nav-main ul a:hover{
    border-bottom: 2px solid var(--color-white);
 }

 .nav-search input {
    border-radius: 4px;
    padding: 6px;
 }
/* carusel */
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 20s linear infinite ;
    width: calc(200px * 13);
}
.slider .slide{
    width: 200px;
}
.slider .slide img{
    width: 100%;
}
/* carusel */
 @media (max-width: 950px) {
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        background: background: #e1eec3;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
        display: block;
        height: 100%;
        padding: 30px;
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-400px);

    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);

    }
    .nav-main ul.nav-menu li{
        font-size: 20px;
        padding: 12px;
    }

    .nav-main form.nav-search{
        margin-right: 30px;
    }
 }

 @keyframes scroll{
 
    0% {
        -webkit-transform: translateX(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 13));
        transform: translate(calc(-200px * 13));
    }
 }
 